<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div style="background-color: #f2f2f2; padding: 20px;">

        <p style="color: #ff5722; font-family: Arial, sans-serif;">
            Hello Admin,<br><br>

            --- New customer order ---<br>
            Bill Date : {created_at}<br>
            Expect Date : {expect_date}<br>
            Name : {name}<br>
            Address : {address}<br>
            Mobile Number : {mobile}<br>
            Payment Method : {payment}<br>
            Total amount : {total}<br><br>
            <b>Checkout successful.</b>
        </p>
        <p style="font-family: Arial, sans-serif; color: #555;">
            Happy Shopping.<br><br>
            <i><b>Thank you for Shopping With us.</b></i>
        </p>
    </div>
</body>
</html>