<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div style="background-color: #f2f2f2; padding: 20px;">
        <h1 style="color: #ff5722; font-family: Arial, sans-serif;">
            Hello {{ user.username }},</h1>
            <p>
                Independence day Sale is Live.<br>
                25% -60% Off for your favourite products<br>


            </p><br><br>


    </div>
</body>
</html>